<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Cari Jadwal Kereta Api</title>
    {% extends "template.html" %}
  </head>
  <body>
    {% block content %}
    <article> 
          <div class="label"> 
            <label style="font-size: medium;">Pilih Kota Asal<br></label>
          </div>
          <div> 
          <select name="Asal kota"> 
            {% for city in kota %}
              <option value="{{id}}">{{city['nama']}}</option>
              <!-- //id dari value yang lu dapetin ini nanti lu ganti ke dept
              //liat id kota nya di sini https://wiki-region-api.herokuapp.com/id/city/32 -->
            {% endfor %}
          </select>
          <br><br>
        </div>
      <div class="label"> 
        <label style="font-size: medium;">Pilih Kota Tujuan<br></label>
      </div>
      <div> 
        <select name="Kota Tujuan"> 
           {% for city in kota %}
            <option value="{{id}}">{{city['nama']}}</option>
            <!-- //id dari value yang lu dapetin ini nanti lu ganti ke dest
            //liat id kota nya di sini https://wiki-region-api.herokuapp.com/id/city/32 -->
          {% endfor %}
        </select>
        <br><br>
      </div>
  <div class="label"> 
        <label style="font-size: medium;">Tanggal<br></label>
      </div>
      <div> 
        <select name="Tanggal">
          <option value= "01">1</option>
          <option value= "02">2</option>
          <option value= "03">3</option>
          <option value= "04">4</option>
          <option value= "05">5</option>
          <option value= "06">6</option>
          <option value= "07">7</option>
          <option value= "08">8</option>
          <option value= "09">9</option>
          <option value= "10">10</option>
          <option value= "11">11</option>
          <option value= "12">12</option>
          <option value= "13">13</option>
          <option value= "14">14</option>
          <option value= "15">15</option>
          <option value= "16">16</option>
          <option value= "17">17</option>
          <option value= "18">18</option>
          <option value= "19">19</option>
          <option value= "20">20</option>
          <option value= "21">21</option>
          <option value= "22">22</option>
          <option value= "23">23</option>
          <option value= "24">24</option>
          <option value= "25">25</option>
          <option value= "26">26</option>
          <option value= "27">27</option>
          <option value= "28">28</option>
          <option value= "29">29</option>
          <option value= "30">30</option>
          <option value= "31">31</option>
          <!-- //ini semua value nya langsung jadi variabel sesuai namanya "Tanggal" -->
        </select>
        <br><br>
      </div><div class="label"> 
        <label style="font-size: medium;">Bulan<br></label>
      </div>
      <div> 
        <select name="Bulan"> 
          <option value= "01">Januari</option>
          <option value= "02">Februari</option>
          <option value= "03">Maret</option>
          <option value= "04">April</option>
          <option value= "05">Mei</option>
          <option value= "06">Juni</option>
          <option value= "07">Juli</option>
          <option value= "08">Agustus</option>
          <option value= "09">September</option>
          <option value= "10">Oktober</option>
          <option value= "11">November</option>
          <option value= "12">Desember</option>
          <!-- //ini semua value nya langsung jadi variabel sesuai namanya "Bulan" -->
        </select>
        <br><br>
      </div><div class="label"> 
        <label style="font-size: medium;">Tahun<br></label>
      </div>
      <div> 
        <select name="Tahun"> 
          <option value= "2019">2019</option>
          <option value= "2020">2020</option>
          <option value= "2021">2021</option>
          <!-- //ini semua value nya langsung jadi variabel sesuai namanya "Tahun"
        </select> -->
        <br><br>
      </div>

      <a href="{{ url_for('hasil') }}"><button type="button">Cari!</button></a>
      <!-- //ini cara lu pindah ke page hasil cuma edit apa yang diinginkan di route bukan di sini -->
      <br><br>
    </article>
    </div>
    {% endblock %}
  </body>
</html>
