<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Head Title</title>
    <style> 
    body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    }  
  
    logo {
    background-color: rgb(160, 56, 230);
    padding: 10px;
    color: white;
    }

    h1 {
    background-color: rgb(160, 56, 230);
    padding: 10px;
    color: white;
    }
    </style>
</head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">LAYANAN JADWAL KERETA API</h1>
        <strong><nav>
          <ul class="menu">
            <a href="{{ url_for('home') }}">Home<br><br></a>
            <a href="{{ url_for('about') }}">About</a>
          </ul>
        </nav></strong>
      </div>
    </header>
    
{% block content %}
{% endblock %}

 </body>
</html>
