<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
      <article>
        <h1>About</h1>
        <p>Pembuataan aplikasi untuk pemenuhan tugas Teknologi Sistem Terintegrasi 2019.</p>
        <p>Aplikasi ini adalah sebuah aplikasi untuk mengecek ketersedian transportasi darat yaitu kereta api. </p>
        <p>Pengguna dapat melakukan pengecekan ketersediaan berdasarkan tanggal keberangkatan, asal stasiun, dan tujuan. </p>
        <p><b>Dibuat oleh:</b></p>
        <p>Yudhistira Qasthari Putra - 18217003</p>
        <p>Muhammad Isfan Rahadi - 18217019</p>
      </article>
    {% endblock %}
  </body>
</html>
